<div class="jumbotron">
  <div class="container">
    
    
  </div>
</div>

<div class="supporting-about">
  <div class="container">
    <h1>Capture and Share </h1>
    <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, </h4>
<<<<<<< HEAD
    <%= link_to signups_new_path ,{:class => "btn3"} do %>Sign up<%end%>
=======
    <a href ='#' class="btn3">Sign up</a>
>>>>>>> 7e401dd8b4cfbfe0be16c81cca49ddcd5d33c0e2
  </div>
</div>
