<!-- <div class="menu">
      
      <
      <div class="icon-close">
        <img src="http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/close.png">
      </div>

      
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div> -->

  
<div class="main">
  <div class="container">
  
    <div class="main2">
    <h1 class="add">Create and share Stories</h1>
   <!-- <a class="btn" href='#'>Learn more</a> -->
      <%= link_to pages_about_path do%>Learn more<%end%> 
    </div>
  </div>
  </div>



<div class="supporting">
  <div class="container">
    <br>
    <br>
    <br>
    <h1>Relive and share your adventures</h1>
    <br>
    <br>
    <h4>Stories automatically creates a digital journal filled with only your best photos.</h4>
    <br>
    <br>
    
</div>
</div>

<div class="supporting-sec">
  
</div>

<div class="discover">
  <div class="container">
    <h2>Discover Stories </h2>
    <%=link_to pages_about_path do %>Learn more<%end%>
	</div>
  
</div>

<!--<div class="footer">
  <p>ABO MOHAB PROJECT</p>
</div> -->

